{% if logAction == "edit" %}
    <div class="row offset-1">
        <div class="col-sm-5">
            <p>Imię i nazwisko</p>
        </div>
        <div class="col-sm-5">
            <a href="{{ url('worker_details', {"id": oldObject.getId}) }}">{{ oldObject.firstName }} {{ oldObject.lastName }}</a>
        </div>
        <div class="col-sm-5">
            <p>Stanowisko</p>
        </div>
        <div class="col-sm-5">
            {{ oldObject.jobTitle }}
        </div>
        <div class="col-sm-5">
            <p>Data zatrudnienia</p>
        </div>
        <div class="col-sm-5">
            {{ oldObject.hiredAt | date("Y-m-d") }}
        </div>
        <div class="col-sm-5">
            <p>Czy dalej pracuje</p>
        </div>
        <div class="col-sm-5">
            {% if oldObject.hired == 0 %}
                <p>Nie</p>
            {% else %}
                <p>Tak</p>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="row offset-1">
        <div class="col-sm-5">
            <p>Imię i nazwisko</p>
        </div>
        <div class="col-sm-5">
            <a href="{{ url('worker_details', {"id": newObject.getId}) }}">{{ newObject.firstName }} {{ newObject.lastName }}</a>
        </div>
        <div class="col-sm-5">
            <p>Stanowisko</p>
        </div>
        <div class="col-sm-5">
            {{ newObject.jobTitle }}
        </div>
        <div class="col-sm-5">
            <p>Data zatrudnienia</p>
        </div>
        <div class="col-sm-5">
            {{ newObject.hiredAt | date("Y-m-d") }}
        </div>
        <div class="col-sm-5">
            <p>Czy dalej pracuje</p>
        </div>
        <div class="col-sm-5">
            {% if newObject.hired == 0 %}
                <p>Nie</p>
            {% else %}
                <p>Tak</p>
            {% endif %}
        </div>
    </div>
{% endif %}