{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form-group row">
        <label for="descriptionTitle" class="col-sm-2 col-form-label">
            E-Mail
            <br/>
            <small id="passwordHelpInline" class="text-muted">
                Podaj e-mail
            </small>
        </label>
        <div class="col-sm-10">
            {{ form_widget(form.email, {"attr": {"placeholder": "E-Mail"}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="descriptionTitle" class="col-sm-2 col-form-label">
            Nazwa użytkownika
            <br/>
            <small id="passwordHelpInline" class="text-muted">
                Login użytkownika
            </small>
        </label>
        <div class="col-sm-10">
            {{ form_widget(form.username, {"attr": {"placeholder": "Login"}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="descriptionTitle" class="col-sm-2 col-form-label">
            Hasło
            <br/>
            <small id="passwordHelpInline" class="text-muted">
                Podaj hasło
            </small>
        </label>
        <div class="col-sm-10">
            {{ form_widget(form.plainPassword.first, {"attr": {"placeholder": "Hasło"}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="descriptionTitle" class="col-sm-2 col-form-label">
            Powtórz hasło
            <br/>
            <small id="passwordHelpInline" class="text-muted">
                Potwierdź hasło
            </small>
        </label>
        <div class="col-sm-10">
            {{ form_widget(form.plainPassword.second, {"attr": {"placeholder": "Hasło"}}) }}
        </div>
    </div>

    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="Zarejestruj" />
    </div>
{{ form_end(form) }}
