{% extends "base.html.twig" %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#rfid_cardId').val('NONE');
            setTimeout(ajaxGet, 1000);
        });

        var ajaxGet = function () {
            $.ajax({
                // The URL for the request
                url: "{{ url('rfid_temp_get') }}",

                // The data to send (will be converted to a query string)
                data: {
                    id: 2
                },
                // Whether this is a POST or GET request
                type: "POST",

                // The type of data we expect back
                dataType: "json",
                success: function (data) {
                    $('#rfid_cardId').val(data.cardID);
                }
            });
            setTimeout(ajaxGet, 2000);
        };
    </script>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5><i class="fas fa-id-card-alt"></i> Dodawanie RFID</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group row offset-2">
                <label for="choiceType" class="col-sm-2 col-form-label">{{ form_label(form.cardId) }}</label>
                <div class="col-sm-6">
                    {{ form_widget(form.cardId) }}
                    <small>Tutaj pojawi się ID dodawanej karty</small>
                </div>
            </div>
            <div class="form-group row offset-2">
                <label for="choiceType" class="col-sm-2 col-form-label">{{ form_label(form.accessLevel) }}</label>
                <div class="col-sm-6">
                    {{ form_widget(form.accessLevel) }}
                    <small>Poziom dostępu</small>
                </div>
            </div>
            <div class="form-group row offset-2">
                <label for="choiceType" class="col-sm-2 col-form-label">{{ form_label(form.worker) }}</label>
                <div class="col-sm-6">
                    {{ form_widget(form.worker) }}
                    <small>Pracownik</small>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group row offset-5">
                <div class="col-sm-2">
                    <a href="{{ url('cards_index') }}" class="btn btn-outline-secondary">
                        <i class="fas fa-arrow-circle-left"></i> Powrót
                    </a>
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.submit, {"attr": {"class": "btn-outline-primary"}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}